@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
    font-family: var(--font-sans), system-ui, sans-serif;
  }
}
